# Auto detect text files and perform LF normalization
* text=auto

/.github                                      export-ignore
/.vscode                                      export-ignore
/addons/gut                                   export-ignore
/images                                       export-ignore
/include                                      export-ignore
/src                                          export-ignore
/test                                         export-ignore
/third_party                                  export-ignore
/.gitattributes                               export-ignore
/.gitignore                                   export-ignore
/.gitmodules                                  export-ignore
/LICENSE                                      export-ignore
/methods.py                                   export-ignore
/project.godot                                export-ignore
/README.md                                    export-ignore
/SConstruct                                   export-ignore

/addons/gdn-sqlite/*.gdns                     export-ignore
/addons/gdn-sqlite/*.gdnlib                   export-ignore

/addons/gdn-sqlite/icon.png                   export-ignore
/addons/gdn-sqlite/icon.png.import            export-ignore

/addons/gdn-sqlite/resources/loading.ase      export-ignore
